@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAF9F6;
    --foreground: #ededed;
  }
}

.richtext-justify-between {
  justify-content: end !important;
}

.richtext-justify-between span {
  font-size: 12px !important;
  color: #919191;
}

.richtext-flex button svg {
  color: #919191;
}

.richtext-flex button div div {
  color: #919191;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #171717;
}

.bg-red {
  background-color: #C82927;
}

.bg-blue {
  background-color: #2583cf;
}

.richtext-outline {
  outline-style: none !important;
  border: 1px solid #e5e7eb !important;
}

select {
  background: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: 95%;
  background-position-y: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}